.send-content {
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  &__header {
    background-color: #f2f3f4;
    padding: 0.5rem;

    .recipient-address {
      &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        border: 1px solid #037dd6;
        flex: 1 1 auto;
        align-items: center;
        background: #fff;
        border-radius: 0.5rem;
        padding: 0.75rem 0.5rem;
        transition: border-color 150ms ease-in-out;
        font-size: 0.75rem;
        line-height: 140%;
        color: #037dd6;

        .icon {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 1.125rem;
          height: 1.125rem;
          margin: 0.25rem 0.5rem 0.25rem 0.25rem;
        }
      }

      &__close-icon {
        background-image: url("/images/close-gray.svg");
      }

      &__status-icon {
        background-image: url("/images/check-green-solid.svg");
      }

      &__text {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: inherit !important;
        line-height: 140%;
        font-size: 0.875rem;
      }
    }
  }

  &__form {
    overflow-y: auto;
    flex: 1;
    &-row {
      margin: 1rem 1rem 0;
      position: relative;
      display: flex;
      flex-flow: row;
      flex: 1 0 auto;
      justify-content: space-between;
      align-items: center;
    }
    &-asset {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 8px 8px;
      &-data {
        display: flex;
        flex-flow: column nowrap;
        margin-left: 8px;
        flex-grow: 1;
      }
      &-symbol {
        font-size: 1rem;
        line-height: 140%;
        margin-bottom: 2px;
        text-align: left;
      }
      &-balance {
        font-size: 0.75rem;
        line-height: 140%;
        display: flex;
        flex-flow: row nowrap;
        &-label {
          margin-right: 0.25rem;
        }
        &-amount {
          display: flex;
          align-items: center;
        }
        &-number {
          direction: ltr;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &-suffix {
          padding-left: 4px;
        }
      }
    }
    &-label {
      font-size: 1rem;
      line-height: 140%;
      color: #5d5d5d;
      width: 95px;
      flex: 0 0 auto;
      text-align: left;
    }

    &-field-container {
      display: flex;
      flex-direction: column;
      width: 277px;
    }

    &-field {
      flex: 1 1 auto;
      min-width: 0;
      border: 1px solid #dedede;
      border-radius: 4px;
      height: 100%;
    }

    &-field.invalid {
      border-color: red;
    }

    &-amount-input {
      border: none;
      outline: none;
      font-size: 1rem;
      color: #4d4d4d;
      max-width: 15ch;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 16px;
      &-invalid {
        margin-top: 5px;
        color: red;
        font-size: 0.75rem;
        text-align: left;
      }
    }

    &-amount {
      line-height: 140%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      min-height: 54px;
      padding: 8px 10px;
      position: relative;
    }
  }

  &__footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-top: 1px solid #d2d8dd;
    flex: 0 0 auto;

    button {
      font-size: 0.875rem;
      line-height: 140%;
      padding: 0.75rem 1rem;
      width: 100%;
    }

    &-cancel {
      border: 1px solid #037dd6;
      margin-right: 16px;
      border-radius: 100px;
      will-change: box-shadow;
      transition: box-shadow cubic-bezier(0.6, -0.28, 0.735, 0.045) 200ms;
      background-color: white;
      color: #037dd6;
    }

    &-next {
      background-color: #037dd6;
      border-radius: 100px;
      will-change: box-shadow;
      transition: box-shadow cubic-bezier(0.6, -0.28, 0.735, 0.045) 200ms;
      color: white;
      border: 1px solid #037dd6;
    }

    &-next[disabled] {
      background-color: #b0d7f2;
      border-color: #b0d7f2;
    }
  }

  .asset-dropdown {
    height: 54px;
    border: none;
    position: relative;

    &__close-area {
      z-index: 2000;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__list {
      z-index: 2050;
      position: absolute;
      height: 220px;
      width: 100%;
      border: 1px solid #d2d8dd;
      border-radius: 4px;
      background-color: white;
      box-shadow: 0 3px 6px 0 rgb(0 0 0 / 11%);
      top: 65px;
      left: 0;
      box-sizing: content-box;
      overflow-y: scroll;
      margin-top: 0;
      padding: 4px 0;
    }

    &__asset {
      padding: 8px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      cursor: pointer;
    }
  }
}
