.app-header {
    padding: 1rem;
    z-index: 26;
    align-items: center;
    background: #f2f3f4;;
    position: relative;
    z-index: 12;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    flex: 0 0 auto;
    height: 72px;
}